<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome in MkBills</h1>
<br>
<br>
<p>This web is provided to user's that want clare view of their payment's</p>
<p>To get access to creating bills etc. you need to be log in</p>
<p>Login in here: <a href="/login">Sing in</a></p>
<p>Register here: <a href="/sing-up">Sing up</a></p>
<br>
<br>
<p>If you are logged come here to see your bills or create new one->
    <a href="/user/bills/1"+>Bills</a></p>
<!--for now its hardcoded userId need to add @ModelAttribute in controller and this here:-->
<!--'+'${#authentication.getPrincipal().getUser().getUser_id()}-->
</body>
</html>