<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome in MkBills</h1>
<br>
<br>
<p>This web is provided to user's that want clare view of their payment's</p>
<p>To get access to creating bills etc. you need to be log in</p>
<p>
    Login in here:
    <button type="button"><a href="/login">Sing in</a></button>
</p>
<p>
    Register here:
    <button type="button"><a href="/sing-up">Sing up</a></button>
</p>
<br>
<br>
<p>
    If you are logged come here to see your bills or create new one:
    <button type="button"><a href="/user/bills/1"+>Bills</a></button>
</p>

<p>Admin panel <button type="button"><a href="/admin">Pannel</a></button> </p>
<button type="button"><a href="/logout">logout</a></button>
<!--for now its hardcoded userId need to add @ModelAttribute in controller and this here:-->
<!--'+'${#authentication.getPrincipal().getUser().getUser_id()}-->
</body>
</html>